.About {
    text-align: center;
    background-color: #e5898b;
    height: 200vh;
    width: 100vw;
    pointer-events: none;
    color: black;
    position: absolute;
    top: 0;
    z-index: -1;
  }

  h1 {
    margin-top: 7rem;
  }
  
  p {
    font-family: "Rockwell", Sans-Serif;
  }