  .navBar {
    display: flex;
    position: fixed;
    top: 0;
    justify-content: space-between;
    align-items: center;
    max-height: 6rem;
    min-height: 6rem;
    min-width: 100vw;
    z-index: 999;
    background-color: white;
  }

  .logo {
    width: 5rem;
    height: 5rem;
    background-color: #e5898b;
    border-radius: 50%;
  }

a {
  text-decoration: none;
  color: black;
  font-family: "Rockwell", Sans-Serif;
}

@media only screen and (max-width: 768px) {
    .navBar {
      right: 0;
      flex-direction: column;
      border-bottom: .2rem solid black;
    }

    .logo {
      margin-top: .4rem;
      justify-self: center;
    }

    #linkDiv > a, #SecondLinkDiv > a {
      margin-bottom: 2rem;
    }

    #navXSVG {
      padding-top: .25rem;
    }

    #SecondLinkDiv {
      right: 2rem;
      display: flex;
      flex-direction: column;
    }
  }
  
  @media screen and (min-width: 768px) {
    .navHamburgerOpen {
      display: hidden;
    }

    .navBar {
      flex-direction: row;
      border-bottom: .2rem solid black;
    }

    #linkDiv > a, #SecondLinkDiv > a {
      margin-left: 2rem;
    }

    #SecondLinkDiv {
      position: fixed;
      right: 2rem;
      display: flex;
      flex-direction: row;
    }

    .logo {
        margin-top: .4rem;
        justify-self: center;
        position: fixed;
        align-self: center;
        justify-content: center;
        align-items: center;
        left: calc(50% - 2.5rem);
        top: 0;
    }
  }