@keyframes intro {
    0% {opacity: 100%; display: flex;}
    99% {opacity: 1%; display: flex;}
    100% {opacity: 0%; display: none;}
}
  
.Intro {
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    z-index: 1000;
    animation-name: intro;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    overflow: hidden;
}
  
  p {
    font-family: "Rockwell", Sans-Serif;
  }

.navBar {
    z-index: 999;
}

@keyframes openerNoScroll {
  0% {overflow-y: hidden;};
  99% {overflow-y: hidden;}
  100% {overflow-y: auto};
}

body {
  z-index: 1;
  overflow: hidden;
  animation-name: openerNoScroll;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}

.Page {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
  overflow-x: hidden;
}
